[submodule "drivers/STM32H7/STM32CubeH7"]
	path = drivers/STM32H7/STM32CubeH7
	url = https://github.com/STMicroelectronics/STM32CubeH7.git
[submodule "drivers/STM32F4/STM32CubeF4"]
	path = drivers/STM32F4/STM32CubeF4
	url = https://github.com/STMicroelectronics/STM32CubeF4.git
